# macOS
.DS_Store

# Xcode
build/
DerivedData/
*.xcuserstate
*.xcuserdata/
*.xcworkspace/xcuserdata/
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# SwiftPM
.build/
Packages/
Package.resolved

# Windows/.NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

# Artifacts
*.pkg
*.zip
*.dmg

# Temp
*.tmp
*.log
